* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 90%;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(69, 147, 216);
}

.App {
  text-align: center;
}
.guarantee {
  width: 100%;
  padding: 50px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
